mixin about()
  -
    const _block = {
      title: {
        tag: "h2",
        classMod: "size-xs",
        text: "About",
      },
      pictures: {
        picture1: {
          path: "content/main",
          image: "about-img-1",
          format: "jpg",
          width: "283",
          height: "283",
          altText: "",
          loading: "lazy",
        },
        picture2: {
          path: "content/main",
          image: "about-img-2",
          format: "jpg",
          width: "590",
          height: "590",
          altText: "",
          loading: "lazy",
        },
        picture3: {
          path: "content/main",
          image: "about-img-3",
          format: "jpg",
          width: "283",
          height: "283",
          altText: "",
          loading: "lazy",
        },
      },
      content: {
        intro: {
          textContent: [
            "I'm making the world better with JavaScript & HTML & CSS.",
          ],
          classMods: [
            "size-xl",
          ],
        },
        text: {
          textContent: [
            "As a frontend developer, I know how to make a seamless web app that helps users accomplish what they need to do. I have a strong combination of technical ability and creativity.",
            "I stand for high-quality code, exceptional design, and intuitive user experience. I have a passion for open-source software and keep abreast of new developments in the industry, interested in how the latest things and the smartest companies work."
          ],
        }
      }
    }

  section.about&attributes(attributes)
    .container
      .about__content-wrapper
        .about__intro-container
          +title(_block.title).about__title.fil(data-animate)
          //- .about__picture.cpit.d-100(data-animate)
          //-   +picture-cropping(_block.pictures.picture1)
          //- .about__picture.cpit.d-200(data-animate)
          //-   +picture-cropping(_block.pictures.picture2)
          //- .about__picture.cpit.d-100(data-animate)
          //-   +picture-cropping(_block.pictures.picture3)
        .about__text-container
          +text(_block.content.intro).about__intro.fib(data-animate)
          +text(_block.content.text).about__text.fib.d-100(data-animate)
