mixin goods()
  -
    const _block = {
      title: {
        tag: "h2",
        classMod: "size-xs",
        text: "Projects",
      },
      link: {
        href: "#",
        text: "Каталог",
        classMods: ["cta", "accent"],
        icon: "forward",
      },
      productList: {
        mods: ['one-row'],
        items: [
          {
            sizeMod: 'big',
            productCard: {
              img: ["projects", "camera-shop", "jpg", 2700, 1700, "Camera shop."],
              name: "Online store of photo and video equipment",
              price: 'Working with data and an address bar (query parameters), filtering, sorting data, pagination, adding and removing products from a cart, promo codes, ordering, uploading and publishing product reviews, form validation, carousel and tabs, unit testing and error handling (redirect to 404, toastify).<br/>The project layout was done by another developer.',
              animateImgClass: 'cpit',
              animateTextClass: 'fib',
              web: "https://new-view.vercel.app",
              git: "https://github.com/shumova/new-view",
              technologies: {
                type: "size",
                multiSelect: false,
                fieldName: "technologies",
                options: [
                  {
                    value: "React",
                    text: "React",
                  },
                  {
                    value: "Redux Thunk",
                    text: "Redux Thunk",
                  },
                  {
                    value: "TypeScript",
                    text: "TypeScript",
                  },
                  {
                    value: "Jest",
                    text: "Jest",
                  },
                  {
                    value: "React Testing Library",
                    text: "React Testing Library",
                  },
                  {
                    value: "Axios",
                    text: "Axios",
                  },
                  {
                    value: "Toastify",
                    text: "Toastify",
                  },
                  {
                    value: "React Hook Form",
                    text: "React Hook Form",
                  },
                  {
                    value: "Webpack",
                    text: "Webpack",
                  },
                ],
              }
            }
          },
          {
            sizeMod: 'big',
            productCard: {
              img: ["projects", "big-trip", "jpg", 2700, 1700, "Big trip."],
              name: "Travel route and cost planning service",
              price: "The application architecture is designed according to the principles of Object-oriented programming (Model View Presenter) with a custom framework.<br/>The project layout was done by another developer",
              animateImgClass: 'cpit',
              animateTextClass: 'fib',
              web: "https://shumova.space/big-trip/",
              git: "https://github.com/shumova/big-trip",
              technologies: {
                type: "size",
                fieldName: "technologies",
                options: [
                  {
                    value: "VanilaJS",
                    text: "VanilaJS",
                  },
                  {
                    value: "OOP",
                    text: "OOP",
                  },
                  {
                    value: "Webpack",
                    text: "Webpack",
                  },
                  {
                    value: "Flatpickr",
                    text: "Flatpickr",
                  },
                ],
              }
            }
          },
          {
            productCard: {
              img: ["projects", "keksobooking", "jpg", 2700, 1700, "Keksobooking."],
              name: "Real estate service",
              price: "A form for adding an ad, validating the form with Pristine Validate, sending and receiving data from backend, filtering ads on an interactive leaflet map, debounce, linking the form with pin coordinates on a map with ability to move and receive real LAT & LNG. <br/>The project layout was done by another developer",
              animateImgClass: 'cpit',
              animateTextClass: 'fib',
              web: "https://shumova.space/keksobooking/",
              git: "https://github.com/shumova/keksobooking",
              technologies: {
                type: "size",
                fieldName: "technologies",
                options: [
                  {
                    value: "VanilaJS",
                    text: "VanilaJS",
                  },
                  {
                    value: "Pristine",
                    text: "Pristine",
                  },
                  {
                    value: "leaflet",
                    text: "leaflet",
                  },
                  {
                    value: "no-ui-slider",
                    text: "no-ui-slider"
                  }
                ],
              }
            }
          },
          {
            productCard: {
              img: ["projects", "antarctic", "jpg", 2700, 1700, "Antarctic."],
              name: "Antarctic cruises",
              price: "Adaptive cross-browser layout, working with and without JS, automation of assembly in Gulp: image optimization, use of WebP, svg sprite, minification of styles, scripts, html",
              animateImgClass: 'cpit',
              animateTextClass: 'fib',
              web: "https://shumova.space/antarctic/",
              git: "https://github.com/shumova/antarctic",
              technologies: {
                type: "size",
                fieldName: "technologies",
                options: [
                  {
                    value: "HTML",
                    text: "HTML",
                  },
                  {
                    value: "SASS",
                    text: "SASS",
                  },
                  {
                    value: "BEM",
                    text: "BEM",
                  },
                  {
                    value: "VanilaJS",
                    text: "VanilaJS",
                  },
                  {
                    value: "Webpack",
                    text: "Webpack",
                  },
                  {
                    value: "Gulp",
                    text: "Gulp",
                  },
                ],
              }
            }
          },
          {
            productCard: {
              img: ["projects", "smart-device", "jpg", 2700, 1700, "Smart device."],
              name: "A website of printed circuit boards manufacturer",
              price: "Adaptive cross-browser layout, working with JS and without, automating assembly in Gulp: image optimization, using WebP, svg sprite, minification of styles, scripts, html",
              animateImgClass: 'cpit',
              animateTextClass: 'fib',
              web: "https://shumova.space/smart-device/",
              git: "https://github.com/shumova/smart-device",
              technologies: {
                type: "size",
                fieldName: "technologies",
                options: [
                  {
                    value: "HTML",
                    text: "HTML",
                  },
                  {
                    value: "SASS",
                    text: "SASS",
                  },
                  {
                    value: "BEM",
                    text: "BEM",
                  },
                  {
                    value: "VanilaJS",
                    text: "VanilaJS",
                  },
                  {
                    value: "Webpack",
                    text: "Webpack",
                  },
                  {
                    value: "Gulp",
                    text: "Gulp",
                  },
                ],
              }
            }
          },
          {
            productCard: {
              img: ["projects", "supergym", "jpg", 2700, 1700, "Fitness."],
              name: "Landing for a fitness club",
              price: "Adaptive cross-browser layout, working with JS and without, automating assembly in Gulp: image optimization, using WebP, svg sprite, minification of styles, scripts, html",
              animateImgClass: 'cpit',
              animateTextClass: 'fib',
              web: "https://shumova.space/fitness/",
              git: "https://github.com/shumova/fitness",
              technologies: {
                type: "size",
                fieldName: "technologies",
                options: [
                  {
                    value: "HTML",
                    text: "HTML",
                  },
                  {
                    value: "SASS",
                    text: "SASS",
                  },
                  {
                    value: "BEM",
                    text: "BEM",
                  },
                  {
                    value: "VanilaJS",
                    text: "VanilaJS",
                  },
                  {
                    value: "Webpack",
                    text: "Webpack",
                  },
                  {
                    value: "Gulp",
                    text: "Gulp",
                  },
                ],
              }
            }
          },
          {
            productCard: {
              img: ["projects", "pognali", "jpg", 2700, 1700, "Pognali."],
              name: "A travel buddy website",
              price: "Adaptive cross-browser layout, working with JS and without, automating assembly in Gulp: image optimization, using WebP, svg sprite, minification of styles, scripts, html",
              animateImgClass: 'cpit',
              animateTextClass: 'fib',
              web: "https://shumova.space/pognali/",
              git: "https://github.com/shumova/pognali",
              technologies: {
                type: "size",
                fieldName: "technologies",
                options: [
                  {
                    value: "HTML",
                    text: "HTML",
                  },
                  {
                    value: "LESS",
                    text: "LESS",
                  },
                  {
                    value: "BEM",
                    text: "BEM",
                  },
                  {
                    value: "VanilaJS",
                    text: "VanilaJS",
                  },
                  {
                    value: "Gulp",
                    text: "Gulp",
                  },
                ],
              }
            }
          },
          {
            productCard: {
              img: ["projects", "mishka", "jpg", 2700, 1700, "Mishka."],
              name: "Online store of children's goods",
              price: "Adaptive cross-browser layout, working with JS and without, automating assembly in Gulp: image optimization, using WebP, svg sprite, minification of styles, scripts, html",
              animateImgClass: 'cpit',
              animateTextClass: 'fib',
              web: "https://shumova.space/mishka/",
              git: "https://github.com/shumova/mishka",
              technologies: {
                type: "size",
                fieldName: "technologies",
                options: [
                  {
                    value: "HTML",
                    text: "HTML",
                  },
                  {
                    value: "CSS",
                    text: "CSS",
                  },
                  {
                    value: "BEM",
                    text: "BEM",
                  },
                  {
                    value: "VanilaJS",
                    text: "VanilaJS",
                  },
                  {
                    value: "Gulp",
                    text: "Gulp",
                  },
                ],
              }
            }
          },
          {
            productCard: {
              img: ["projects", "device", "jpg", 2700, 1700, "Device."],
              name: "Online store of electronics",
              price: "Semantics and accessibility, states for all interactive elements, grid / flex, pixel perfect, code optimization",
              animateImgClass: 'cpit',
              animateTextClass: 'fib',
              web: "https://shumova.space/device/",
              git: "https://github.com/shumova/device",
              technologies: {
                type: "size",
                fieldName: "technologies",
                options: [
                  {
                    value: "HTML",
                    text: "HTML",
                  },
                  {
                    value: "CSS",
                    text: "CSS",
                  },
                  {
                    value: "BEM",
                    text: "BEM",
                  },
                ],
              }
            }
          },
          {
            productCard: {
              img: ["projects", "gllacy", "jpg", 2700, 1700, "Gllacy."],
              name: "Online shop of ice cream",
              price: "Semantics and accessibility, states for all interactive elements, grid / flex, pixel perfect, code optimization",
              animateImgClass: 'cpit',
              animateTextClass: 'fib',
              web: "https://shumova.space/gllacy/",
              git: "https://github.com/shumova/gllacy",
              technologies: {
                type: "size",
                fieldName: "technologies",
                options: [
                  {
                    value: "HTML",
                    text: "HTML",
                  },
                  {
                    value: "CSS",
                    text: "CSS",
                  },
                  {
                    value: "BEM",
                    text: "BEM",
                  },
                ],
              }
            }
          }
        ]
      }
    }

  section.goods&attributes(attributes)
    .container.goods__container
      +title(_block.title).goods__title.fil(data-animate)
      .goods__product-list.container-compensator
        +product-list(_block.productList)
      //- +link(_block.link).goods__link.fib(data-animate)
