.feedback-form {
  &__item:not(:first-child) {
    margin-top: 18px;

    @include vp-767 {
      margin-top: 24px;
    }
  }

  textarea {
    height: 103px;

    @include vp-767 {
      height: 82px;
    }
  }

  &__submit {
    margin-top: 40px;

    @include vp-767 {
      margin-top: 36px;
    }
  }

  .custom-checkbox__icon {
    top: 0;
    align-self: start;
  }

  .custom-checkbox__label {
    align-self: center;
  }
}
