.header {
  --header-padding-vertical: 30px;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding: var(--header-padding-vertical) 0 0;
  z-index: 10;

  @include vp-767 {
    overflow: hidden;
    transition: transform $trans-default;
    --header-padding-vertical: 15px;
  }

  .container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin: 0 auto;
  }

  // &--light:not(.is-opened) {
  //   color: $color-default-white;
  // }

  &.is-hidden {
    @include vp-767 {
      transform: translateY(-100%);
    }
  }

  &.is-opened {
    height: 100vh;
    /* stylelint-disable-next-line */
    height: calc(100 * var(--vh, 1vh));

    background-color: transparentize($color: $color-el-paso, $amount: 0.5);
    cursor: pointer;

    .header__logo {
      color: $color-el-paso;
      pointer-events: none;
    }
  }

  &--light.is-opened {
    .header__logo {
      color: $color-star-dust;
    }
  }

  &__logo {
    width: 139px;
    height: 39px;
    margin-right: auto;
    color: inherit;
    pointer-events: all;

    @include vp-833 {
      width: 99px;
      height: 28px;
    }
  }
}
