.order-form {
  form {
    display: flex;
    flex-direction: column;
  }

  &__block {
    margin: 0;
    padding: 0;
    border: 0;
  }

  &__block:last-of-type {
    margin-top: 36px;

    @include vp-767 {
      margin-top: 34px;
    }

    @include vp-424 {
      margin-top: 39px;
    }
  }

  &__fieldset-content {
    column-count: 2;
    column-gap: 35px;

    @include vp-1023 {
      column-gap: 30px;
    }

    @include vp-767 {
      column-gap: 20px;
    }

    @include vp-639 {
      column-count: 1;
    }
  }

  &__comment {
    column-span: all;

    &:nth-child(2n) {
      margin-top: 17px;

      @include vp-767 {
        margin-top: 23px;
      }

      @include vp-639 {
        margin-top: 0;
      }
    }
  }

  &__block-title {
    margin-bottom: 20px;
    font-size: 30px;
    line-height: 1.2;

    @include vp-959 {
      font-size: 22px;
    }

    @include vp-767 {
      margin-bottom: 34px;
    }
  }

  .custom-input {
    margin-bottom: 17px;

    @include vp-767 {
      margin-bottom: 23px;
    }

    @include vp-424 {
      margin-bottom: 24px;
    }
  }

  .custom-checkbox {
    max-width: 225px;
    margin-top: 41px;

    @include vp-1023 {
      margin-top: 42px;
    }

    @include vp-959 {
      margin-top: 35px;
    }

    @include vp-767 {
      max-width: 245px;
      margin-top: 35px;
    }

    @include vp-639 {
      max-width: 80%;
      margin-top: 20px;
    }

    @include vp-424 {
      margin-top: 0;
    }
  }

  &__submit {
    margin-top: 34px;

    @include vp-959 {
      position: absolute;
      bottom: -64px;
      padding: 15px 20px;
    }

    @include vp-767 {
      padding: 15px 20px;
    }

    @include vp-424 {
      position: absolute;
      bottom: -66px;
    }
  }
}
