.page-intro {
  --padding-top: 180px;
  --padding-bottom: 100px;

  position: relative;
  display: flex;

  min-height: var(--static-vh, 100vh);
  padding-top: calc(var(--header-height) + var(--padding-top));
  padding-bottom: var(--padding-bottom);

  color: $color-default-white;
  background-color: $color-el-paso;

  overflow-wrap: break-word;

  @include vp-1279 {
    --padding-top: 60px;

    @media (orientation: landscape) {
      min-height: var(--static-vh, 100vh);
    }
  }

  @include vp-767 {
    --padding-bottom: 45px;

    min-height: var(--static-vh, 100vh);
  }

  &__slider-container {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    &::before {
      position: absolute;
      z-index: 2;
      top: 0;
      left: 0;
      content: "";
      width: 100%;
      height: 100%;
      background: $black-to-top;
    }
  }

  &__slider {
    width: 100%;
    height: 100%;
  }

  &__slider-img {
    width: 100%;
    height: 100%;

    object-fit: cover;
  }

  &__content-container {
    display: grid;
  }

  &__content-decor {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(112, 153, 119, 0.8);
    transform: rotate(180deg);

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__content-wrapper {
    width: fit-content;
    padding: clamp(20px, 1.5vw, 30px) clamp(30px, 2.5vw, 40px);

    position: relative;
    z-index: 1;

    align-self: end;

    display: grid;

    align-items: start;
    border-radius: 25px;
    overflow: hidden;

    @include vp-1023 {
      --column-gap: 30px;
    }

    @include vp-767 {
      margin-right: calc(var(--container-offset) / 2 * -1);
      margin-left: calc(var(--container-offset) / 2 * -1);
    }

    @include vp-639 {
      grid-template-columns: minmax(0, 1fr);
      margin-right: 0;
      margin-left: 0;
    }
  }

  &__title {
    position: relative;
    margin-left: -10px;
    color: $color-el-paso;
    line-height: 1;

    @include vp-1023 {
      margin-left: 0;
    }

    @include vp-767 {
      margin-left: -4px;
    }

    @include vp-424 {
      margin-right: calc(var(--container-offset) / 2 * -1);
      margin-left: calc(var(--container-offset) / 2 * -1);
    }
  }

  &__content {
    display: grid;
    grid-template-columns: minmax(0, 1fr) 80px;
    padding-top: 8px;

    @include vp-1279 {
      padding-top: 6px;
    }

    @include vp-1023 {
      grid-template-columns: minmax(0, 1fr) 60px;
      padding-top: 4px;
    }

    @include vp-833 {
      grid-template-columns: minmax(0, 1fr);
      padding-top: 2px;
    }

    @include vp-639 {
      padding-top: 0;
      max-width: 410px;
    }
  }

  &__text {
    color: $color-default-white-opacity-70;
  }

  &__link {
    grid-row: 2 / 3;

    margin-top: 50px;

    @include vp-1023 {
      margin-top: 55px;
    }

    @include vp-767 {
      margin-top: 33px;
    }
  }

  &__slider-pagination-wrap {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    align-self: end;

    @include vp-833 {
      display: none;
    }
  }

  &__slider-pagination {
    display: grid;
    grid-template-columns: repeat(3, auto);
    column-gap: 0.2em;
    justify-content: end;
    line-height: 1;
    color: $color-default-white-opacity-50;
  }
}
