.title {
  margin: 0;
  padding: 0;

  font-family: $ff-Garet-Book;
  font-weight: 300;
  text-transform: uppercase;

  .fit,
  .fir,
  .fib,
  .fil {
    display: block;
  }

  &--size-l {
    font-size: clamp(83px, 8.2vw, 100px);
    line-height: 1.45;
    letter-spacing: -0.03em;

    @include vp-1023 {
      font-size: clamp(60px, 8.3vw, 83px);
      line-height: 1;
    }

    @include vp-767 {
      font-size: clamp(52px, 8vw, 60px);
    }

    @include vp-639 {
      font-size: 52px;
    }

    @include vp-424 {
      font-size: 55px;
    }
  }

  &--size-m {
    font-size: 75px;
    line-height: 1.1;
    letter-spacing: -0.05em;

    @include vp-1023 {
      font-size: clamp(45px, 7.5vw, 50px);
    }

    @include vp-767 {
      font-size: 45px;
    }
  }

  &--size-s {
    font-size: 42px;
    line-height: 1.2;
    letter-spacing: -0.05em;

    @include vp-767 {
      font-size: 35px;
    }
  }

  &--size-xs {
    font-family: $ff-Manrope;
    font-size: 22px;
    line-height: 1.2;

    @include vp-767 {
      font-size: 18px;
    }
  }

  &__offset {
    display: block;
    width: 75%;
    margin-left: auto;

    @include vp-1279 {
      width: clamp(745px, 71vw, 900px);
    }

    @include vp-1023 {
      width: clamp(576px, 75.1vw, calc(745px + var(--container-offset)));
    }

    @include vp-767 {
      width: clamp(480px, 75vw, 576px);
    }

    @include vp-639 {
      width: clamp(353px, 83.1vw, 480px);
    }

    @include vp-424 {
      width: auto;
      max-width: 292px;
      margin-left: max(12px, 4vw);
    }
  }

  br.desktop-only {
    @include vp-1023 {
      display: none;
    }
  }

  br.tablet {
    display: none;

    @include vp-767 {
      display: block;
    }
  }

  br.mobile-wide {
    display: none;

    @include vp-639 {
      display: block;
    }
  }

  br.mobile {
    display: none;

    @include vp-424 {
      display: block;
    }
  }
}
