-
  const headerLinks = [
    {
      href: "#about",
      text: "About"
    },
    {
      href: "#projects",
      text: "Projects"
    },
    {
      href: "#contacts",
      text: "Contacts"
    },
  ]

//- поместить в массив страницы, на которых не должно быть ссылки на Корзину
- const noCartLink = ["order.html"];

mixin header(headerMods, currentUrl)
  header.header(class=headerMods)
    - const isIndex = currentUrl === "index.html"

    .container
      +main-nav(isIndex, currentUrl)
